<div class="signup-container">
  <h1>Socialize</h1>
  <form id="signupForm">
    <input type="text" id="username" placeholder="Username" />
    <small id="usernameError" class="error-message"></small>

    <input type="password" id="password" placeholder="Password" />
    <small id="passwordError" class="error-message"></small>

    <input type="email" id="email" placeholder="Email" />
    <small id="emailError" class="error-message"></small>

    <input type="text" id="firstName" placeholder="First Name" />
    <small id="firstNameError" class="error-message"></small>

    <input type="text" id="lastName" placeholder="Last Name" />
    <small id="lastNameError" class="error-message"></small>

    <input type="tel" id="phoneNumber" placeholder="Phone Number" />
    <small id="phoneNumberError" class="error-message"></small>

    <input type="date" id="birthDate" />
    <small id="birthDateError" class="error-message"></small>

    <button type="submit">Sign up</button>
    <p>Already a member? <a routerLink="/login">Sign in</a></p>
  </form>
</div>
